{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}


    <p class='accent-fg'>Accent</p>
    <div class="topbar">
        <div class="breadcrumb">
        <p>No chat selected.</p>
    </div>
    <div class="account">
        <div class="mini-icon"><img src="{{url_for('static',filename='/imgs/a.png')}}"></img></div>
        <a href='/account'>{{user.name}}</a>
        
    </div>
    </div>
    <div class="leftbar">
        <p>Chats</p>
        {% for server in user.servers %}
            <div class="icon" onclick="window.location.href = '/server/{{server.id}}';">{{server.initials}}</div>
        {% endfor %}
        <form action="{{url_for('new_server')}}" class="sadd" method="POST">
            <input type="text" id="cname" name="sname"  placeholder="Chat..."><br>
            <input type="submit" id='cbtn' value="Create">
        </form>
    </div>
    

  
    
    
{% endblock %}
